.activity {
  max-width: 2000px;
  width: calc(100% - 110px);
  height: 500px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h3{
  margin: 0;
  font-size: var(--cardTitle-font-size)
}

/* First card */

.first_card {
  width: 20%;
  height: 100%;
  box-shadow: 0px 5px 20px #999;
  border-radius: 15px;
}


.card_img1 {
  width: 100%;
  height: 90%;
  border-radius: 15px;
  
} 


.card_img1 img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.card_title1 {
  border-radius: 0 0 15px 15px;
  padding: 15px;  
}

/* First activity container */

.first_activity_container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second_card {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
}

.card_img2 {
  width: 100%;
  height: 80%;
  position: relative;
}

.card_img2 img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}


.card_title2 {
  width: 100%;
  height: 20%;
  background-color: white;
  position: relative;
  padding: 15px;
  border-radius: 0 0 15px 15px;
}


.third_card {
  width: 100%;
  height: 40%;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
}

.card_img3 {
  width: 100%;
  height: 80%;
  position: relative;
  
}

.card_img3 img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card_title3 {
  width: 100%;
  height: 20%;
  background-color: white;
  position: relative;
  padding: 10px 15px;
  border-radius: 0 0 15px 15px;
}
























@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
}

