.activity {
  max-width: 2000px;
  width: calc(100% - 110px);
  height: 500px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0;
  font-size: var(--cardTitle-font-size);
}

/* First card and fourth card */

.first_card,
.fourth_card {
  width: 23%;
  height: 100%;
  box-shadow: 0px 5px 20px #999;
  border-radius: 15px;
}

.card_img1,
.card_img4 {
  width: 100%;
  height: 90%;
  border-radius: 15px;
}

.card_img1 img,
.card_img4 img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.card_title1,
.card_title4 {
  border-radius: 0 0 15px 15px;
  padding: 15px;
}

/* First activity container and Last activity container */

.first_activity_container,
.last_activity_container {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second_card,
.last_card {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
}

.card_img2,
.card_img6 {
  width: 100%;
  height: 80%;
  position: relative;
}

.card_img2 img,
.card_img6 img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.card_title2,
.card_title6 {
  width: 100%;
  height: 20%;
  background-color: white;
  position: relative;
  padding: 15px;
  border-radius: 0 0 15px 15px;
}

.third_card,
.fifth_card {
  width: 100%;
  height: 40%;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
}

.card_img3,
.card_img5 {
  width: 100%;
  height: 80%;
  position: relative;
}

.card_img3 img,
.card_img5 img {
  width: 100%;
  height: 93%;
  position: absolute;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card_title3,
.card_title5 {
  width: 100%;
  height: 20%;
  background-color: white;
  position: relative;
  padding: 5px 15px;
  border-radius: 0 0 15px 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
  .activity {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: space-between;
  }

  .first_card,
  .fourth_card {
    width: 100%;    
    box-shadow: 0px 5px 20px #999;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  .first_activity_container,
  .last_activity_container {
    width: 100%;
    height: 100%;
   
  }

  .second_card, .third_card, .fifth_card, .last_card {
    width: 100%;
    height: 277px;
    margin-bottom: 20px;
  }
  .card_img2, .card_img3, .card_img5, .card_img6{
    width: 100%;
  }
  .card_img2 img, .card_img3 img, .card_img5 img , .card_img6 img{
    width: 100%;
  }
}
