*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--main-font-family);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

/* Main  */
main {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* Flex class */
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  main {
    padding: 0;
  }
}
