*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--main-font-family);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

/* Main  */
main {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

/* Flex class */
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ancre_une {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
}

#ancre_deux {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  padding: 2% 0 0 3%;
}

/* Hover effect */
.allcards a:hover,
.populaire a:hover,
.activity a:hover {
  filter: brightness(1.15);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #ancre_une {
    padding: 1%;
  }
}

@media only screen and (max-width: 767px) {
  main {
    padding: 0;
  }

  #ancre_une {
    padding-left: 10px;
  }

  #ancre_deux {
    padding: 10px;
  }
}
