.filter {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 35px;
}

.filter_option {
  display: flex;
}

.p_filter {
  margin-right: 30px;
}

.filter_box {
  border: 2px solid var(--background);
  border-left: none;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.filter_box:hover {
  background-color: var(--background);
  transform: scale(1.02);
}

.filter_icon {
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: var(--main-blue);
  background-color: var(--light-blue);
  padding: 17px 17px;
}

.familial_icon {
  padding: 18px 21px;
}

.input {
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  font-weight: bold;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .filter {
    flex-wrap: nowrap;
    width: 90%;
    margin: 2% auto 0 auto;
  }

  .p_filter {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .filter {
    display: block;
    margin: 0;
    padding: 20px;
  }
  .filter_option {
    display: block;
  }

  .p_filter {
    margin-left: 10px;
  }
  .filter_box {
    margin-bottom: 10px;
    width: 70%;
  }

  .input {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
