footer {
  max-width: 1600px;
  background-color: var(--background);
}
.main_footer {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-between;
  background-color: var(--background);
  padding: 1%;
  margin-left: 7%;
}

.main_footer li {
  margin: 0 0 10px -40px;
}

.main_footer a {
  font-size: var(--p-font-size);
}

.main_footer a:hover {
  color: #999;
}
