footer {
  max-width: 1900px;
  width: 100%;
  background-color: var(--background);
  margin-left: auto;
  margin-right: auto;
}
.main_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--background);
  padding: 50px;
}

.main_footer div {
  width: 33.33%;
}

.main_footer div h2 {
  margin: 0;
}

.main_footer li {
  margin: 0 0 10px -40px;
}

.main_footer a {
  font-size: var(--p-font-size);
}

.main_footer a:hover {
  color: #999;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .main_footer {
    width: 100%;
    margin: 0;
    justify-content: space-around;
  }
}

@media all and (max-width: 768px) {
  .main_footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .main_footer div {
    width: 100%;
    margin-bottom: 15px;
  }

  .main_footer div ul {
    margin: 10px 0px 0px 0px;
  }
}
