.result {
  max-width: 2000px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

@media all and (min-width: 769px) and (max-width: 992px) {
  .result {
    display: block;
  }
}

@media all and (max-width: 768px) {
  .result {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
}
