.search_section h1 {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  margin: 0 0 0 50px;
}

.search_section p {
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);
  margin: 5px 0 0 50px;
}

.searchbar {
  display: flex;
  padding: 15px;
  height: 70px;
  margin-left: 35px;
}

.form_picture {
  background-color: var(--background);
  border-radius: 10px 0 0 10px;
  width: 40px;
  padding: 10px 14px;
}

.form_input {
  border: 0.5px solid var(--background);
  font-weight: bold;
  padding: 10px;
  width: 225px;
}

.form_button_desktop {
  background-color: var(--main-blue);
  padding: 11px;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: var(--p-font-size);
  font-weight: var(--title-font-weight);
  cursor: pointer;
}

.form_button_mobile {
  display: none;
}

.form_button_desktop:hover {
  background-color: rgb(4, 4, 214);
  color: white;
}

@media only screen and (max-width: 768px) {
  .search_section h1 {
    width: 80%;
    font-size: 22px;
    font-weight: var(--title-font-weight);
    margin: 20px 0 10px 25px;
  }

  .search_section p {
    margin-left: 25px;
  }

  .searchbar {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-bottom: 15px;
  }

  .form_input {
    width: 80%;
    height: 45px;
    border-right: none;
  }

  .form_button_desktop {
    display: none;
  }

  .form_button_mobile {
    display: block;
    position: relative;
    margin-right: 25px;
    background-color: var(--main-blue);
    padding: 13px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: var(--p-font-size);
    font-weight: var(--title-font-weight);
    cursor: pointer;
    left: -40%;
  }

  .form_picture {
    height: 45px;
    padding-top: 12px;
  }
}
