@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"); /*  Create Variables  */
:root {
  --main-font-family: "Raleway", sans-serif;
  --background: #f2f2f2;
  --main-blue: #0065fc;
  --light-blue: #deebff;
  --title-font-size: 25px;
  --title-font-weight: 900;
  --p-font-size: 15px;
  --p-font-weight: 500;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--main-font-family);
}

/*  Header  */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

header img {
  height: 50px;
  margin-left: 60px;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: 60px;
}

header nav {
  list-style: none;
  display: inline-block;
  position: relative;
}

header nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
  padding: 15px 45px;
}

.navlink[data-click="true"] {
  color: var(--main-blue);
  border-top: 3px solid var(--main-blue);
  padding: 15px;
}

.navlink:hover {
  color: var(--main-blue);
  border-top: 3px solid var(--main-blue);
}

/* Fin du Header */

/* Main  */
main {
  padding: 20px;
}

/* First_section  */
.search_section h1 {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  margin: 0 0 0 30px;
}

.search_section p {
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);
  margin: 5px 0 0 30px;
}

.searchbar {
  display: flex;
  padding: 15px;

  height: 70px;
  margin-left: 15px;
}

.form_picture {
  background-color: var(--background);
  border-radius: 10px 0 0 10px;
  width: 40px;
  padding: 12px;
}

.form_picture i {
  margin-left: 4px;
}

.form_input {
  border: 0.5px solid var(--background);
  font-weight: bold;
  padding: 10px;
  width: 225px;
}

.form_button_desktop {
  background-color: var(--main-blue);
  padding: 11px;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: var(--p-font-size);
  font-weight: var(--title-font-weight);
  cursor: pointer;
}

.form_button_mobile {
  display: none;
}

.form_button_desktop:hover {
  background-color: rgb(4, 4, 214);
  color: white;
}

/* Filter  */
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin-top: 15px;
  margin-left: 33px;
}
.p_filter {
  font-weight: var(--title-font-weight);
}

.filter_box {
  display: flex;
}

.filter_wrap .filter_box {
  position: relative;
  width: 210px;
  height: 40px;
}

.filter_wrap .filter_box .btn {
  background-color: rgb(205, 233, 255);
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  border-radius: 50px;
}

.filter_wrap .filter_box .btn.btn_common .fa-solid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-blue);
  font-size: 20px;
}

.filter_wrap .filter_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 70px;
  border-radius: 50px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  border: 1px solid grey;
  cursor: pointer;
}
.filter_wrap .filter_box .family {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 85px;
  border-radius: 50px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  border: 1px solid grey;
  cursor: pointer;
}

/* Tablette Version  */
@media screen and (max-width: 991px) {
}
/* Modile Version */
@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header img {
    margin-left: auto;
    margin-right: auto;
  }

  header nav {
    justify-content: space-evenly;
    margin: 15px 0 0 0;
  }

  .navlink[data-click="true"] {
    border-top: none;
    border-bottom: 2px solid var(--main-blue);
  }

  .navlink {
    border-bottom: 0.5px solid var(--background);
  }

  .search_section h1 {
    width: 80%;
    margin-left: 0;
    font-size: 22px;
    font-weight: var(--title-font-weight);
    margin-bottom: 10px;
  }

  .search_section p {
    margin-left: 0;
  }

  .searchbar {
    margin-left: 0;
    width: 100%;
  }

  .form_input {
    width: 80%;
    border-right: none;
  }

  .form_button_desktop {
    display: none;
  }

  .form_button_mobile {
    display: block;
    margin-right: 25px;
    background-color: var(--main-blue);
    padding: 11px;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-size: var(--p-font-size);
    font-weight: var(--title-font-weight);
    cursor: pointer;
  }
}
