@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"); /*  Create Variables  */
:root {
  --main-font-family: "Raleway", sans-serif;
  --background: #f2f2f2;
  --main-blue: #0065fc;
  --light-blue: #deebff;
  --title-font-size: 20px;
  --title-font-weight: 900;
  --p-font-size: 15px;
  --p-font-weight: 500;
  --cardTitle-font-size: 18px;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--main-font-family);
}

/*  Header  */

header {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

header img {
  height: 50px;
  margin-left: 60px;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: 60px;
}

header nav {
  list-style: none;
  display: inline-block;
  position: relative;
}

header nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
  padding: 15px 45px;
}

.navlink[data-click="true"] {
  color: var(--main-blue);
  border-top: 3px solid var(--main-blue);
  padding: 15px;
}

.navlink:hover {
  color: var(--main-blue);
  border-top: 3px solid var(--main-blue);
}

/* Fin du Header */

/* Main  */
main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/* First_section  */
.search_section h1 {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  margin: 0 0 0 30px;
}

.search_section p {
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);
  margin: 5px 0 0 30px;
}

.searchbar {
  display: flex;
  padding: 15px;

  height: 70px;
  margin-left: 15px;
}

.form_picture {
  background-color: var(--background);
  border-radius: 10px 0 0 10px;
  width: 40px;
  padding: 12px;
}

.form_picture i {
  margin-left: 4px;
}

.form_input {
  border: 0.5px solid var(--background);
  font-weight: bold;
  padding: 10px;
  width: 225px;
}

.form_button_desktop {
  background-color: var(--main-blue);
  padding: 11px;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: var(--p-font-size);
  font-weight: var(--title-font-weight);
  cursor: pointer;
}

.form_button_mobile {
  display: none;
}

.form_button_desktop:hover {
  background-color: rgb(4, 4, 214);
  color: white;
}

/* Filter  */
.filter {
  margin-left: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 35px;
}

.p_filter {
  margin-right: 30px;
}

.filter_box {
  border: 2px solid var(--background);
  border-left: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.filter_box:hover {
  background-color: var(--background);
  transform: scale(1.02);
}

.filter_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: var(--main-blue);
  background-color: var(--light-blue);
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  font-weight: bold;
}

/* Info */

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 35px;
}

.info_description {
  border: 1px solid grey;
  border-radius: 45%;
  margin-right: 15px;
}

.info_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  color: var(--main-blue);
  font-weight: 900;
}

/* Result */
.result {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
}

.hebergement {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  margin: 0 5% 0 2%;
  padding: 2%;
  border-radius: 15px;
}
.allcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.allcards a {
  text-decoration: none;
}

.allcards a:hover {
  transform: scale(1.01);
  filter: brightness(1.1);
}
.card {
  width: 300px;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  border-radius: 15px;
}

.card_image {
  height: 165px;
  padding: 2%;
  margin-right: 2%;
  position: relative;
  overflow: hidden;
}

.card_image img {
  width: 100%;
  height: 80%;
  position: absolute;
  border-radius: 15px 20px 0 0;
  object-fit: cover;
}

.card h2 {
  font-size: var(--cardTitle-font-size);
  color: black;
  margin: -5% 0 0 7%;
}

.price {
  margin: 1% 0 0 7%;
  color: black;
}

.stars {
  padding: 4%;
  margin-left: 2%;
}

.more p {
  font-weight: bold;
}

.populaire {
  flex: 1;
  background-color: lightblue;
}

.blue_star {
  color: #0065fc;
}

.grey_star {
  color: lightgray;
}

.result .info {
  margin-bottom: 20px;
  font-weight: bold;
}

/* Tablette Version  */
@media screen and (max-width: 991px) {
}
/* Modile Version */
@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header img {
    margin-left: auto;
    margin-right: auto;
  }

  header nav {
    justify-content: space-evenly;
    margin: 15px 0 0 0;
  }

  .navlink[data-click="true"] {
    border-top: none;
    border-bottom: 2px solid var(--main-blue);
  }

  .navlink {
    border-bottom: 0.5px solid var(--background);
  }

  .search_section h1 {
    width: 80%;
    margin-left: 0;
    font-size: 22px;
    font-weight: var(--title-font-weight);
    margin-bottom: 10px;
  }

  .search_section p {
    margin-left: 0;
  }

  .searchbar {
    margin-left: 0;
    width: 100%;
  }

  .form_input {
    width: 80%;
    border-right: none;
  }

  .form_button_desktop {
    display: none;
  }

  .form_button_mobile {
    display: block;
    margin-right: 25px;
    background-color: var(--main-blue);
    padding: 11px;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-size: var(--p-font-size);
    font-weight: var(--title-font-weight);
    cursor: pointer;
  }
  .p_filter {
    width: 250px;
    margin-left: -25px;
  }
  .filter_box {
    margin-bottom: 10px;
    margin-left: -25px;
  }

  /* info */
  .info {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    width: 110%;
  }
  .result {
    width: 100%;
    justify-content: center;
  }
  .result_main {
    width: 100%;
    background-color: white;
    margin-left: -50px;
  }

  .all_cards a {
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px 5px var(--background);
  }

  .result_title {
    margin-left: -25px;
  }
  .hebergement {
    background-color: white;
  }

  .hebergement_title h2 {
    margin: 10px 0 0 0;
  }
}
