@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("body.css");
@import url("header.css");
@import url("search.css");
@import url("filter.css");
@import url("info.css");
@import url("result.css");
@import url("hebergement.css");
@import url("footer.css");

/*  Variables  */
:root {
  --main-font-family: "Raleway", sans-serif;
  --background: #f2f2f2;
  --main-blue: #0065fc;
  --light-blue: #deebff;
  --title-font-size: 20px;
  --title-font-weight: 900;
  --p-font-size: 15px;
  --p-font-weight: 500;
  --cardTitle-font-size: 18px;
}

/* Hebergement */

/* stars */
.stars {
  padding: 4%;
  margin-left: 2%;
}

.blue_star {
  color: #0065fc;
}

.grey_star {
  color: lightgray;
}

/* Populaire */

.populaire {
  width: 30%;
  background-color: var(--background);
  border-radius: 15px;
  padding: 2%;
}

.populaire_result a {
  width: 100%;
}

.populaire_card {
  display: flex;
  width: 100%;
  height: 175px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  padding: 1%;
  margin-bottom: 15px;
}

.populaire_card_img {
  width: 40%;
  height: 100%;
}

.populaire_card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}

.populaire_description {
  width: 60%;
  height: 100%;
  padding: 1% 5%;
}

.populaire_description h2 {
  flex-wrap: wrap;
  font-size: var(--cardTitle-font-size);
  color: black;
  margin-bottom: 0;
}

.populaire_description p {
  margin-top: 5px;
}

.populaire_stars {
  margin-top: 25%;
}

/* Activity */

.activity {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
  padding: 10px 10px;
}

.first_activity_container {
  width: calc(100% / 5);
  height: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
}

.first_activity_container img {
  width: 100%;
  height: 90%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.activity_card_title {
  padding-left: 10px;
  font-size: var(--p-font-size);
}

.second_activity_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 4);
  height: 100%;
  background-color: white;
}

.first_second_activity_card {
  width: 100%;
  height: 55%;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
}

.first_second_activity_card img {
  width: 100%;
  height: 85%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.second_activity_card_title1 {
  padding: 1px 10px;
  font-size: var(--p-font-size);
}

.last_second_activity_card {
  width: 100%;
  height: 35%;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
}
.last_second_activity_card img {
  width: 100%;
  height: 71%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.second_activity_card_title2 {
  padding-left: 10px;
  font-size: var(--p-font-size);
}

.last_activity_card {
  width: 100%;
  height: 45%;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
}

.last_activity_card img {
  width: 100%;
  height: 76%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

/* Tablette Version  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Populaire */
  .populaire {
    width: 100%;
  }

  .populaire_main {
    display: flex;
  }

  .populaire_main a {
    width: calc(100% / 3);
    margin-right: 10px;
  }

  .populaire_card {
    display: block;
    height: 275px;
  }

  .populaire_description {
    width: 100%;
  }

  .populaire_card_img {
    width: 100%;
    height: 50%;
  }

  .populaire_card_img img {
    border-radius: 15px 15px 0 0;
  }

  .populaire_p_deux {
    margin-bottom: 5px;
  }

  .populaire_stars {
    margin-top: 35px;
  }

  .populaire_star_deux {
    margin-top: 15px;
  }
}
/* Modile Version */
@media only screen and (max-width: 767px) {
  /* Populaire */

  .populaire {
    margin-top: 5%;
    width: 100%;
    border-radius: 0;
  }
  .populaire h2 {
    margin-left: 1%;
  }

  /* Activity */
  .activity {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .second_activity_container {
    margin-bottom: 0;
  }

  .second_activity_container {
    width: 100%;
  }

  .second_activity_container a,
  .first_activity_container {
    width: 100%;
    margin-bottom: 25px;
  }
  .activity a {
    width: 100%;
    height: 175px;
  }

  .first_activity_container img,
  .second_activity_container img {
    height: 71%;
  }
}
